
/*
Dobry den Mykola.
Ja staralsa kak moznomboslge ispolzovat 'vw' dlja 
promezutochnyh razreshenii ekranov.
Dlja nekotoryh elementov ja ispolzoval zelye kartiniku 
kak knopki, to est ne delal v nih esho otdelno knopki. 
V hedere toze ne delal otdelno logo, i zelenye kruzki, 
a vzal kartinku v zelom. 
Esli by bolshe bremeni bylo mozno bylo by detalnee sdelat 
no i tak uze zapazdyvaju s rabotoi...
Spasibo escho raz chto poshli na vsrechu so srokami sdachi!!



*/
/*FONTS*/

h1, p, h2, ul, button{
    font-family: "Inter", serif;
}

/*MAIN CONTAINERS*/

body {
    margin: 0;
    font-family: "Inter", serif;
    max-width: 768px;
    margin: auto;
}
.thewholepagecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*NAVIGATION*/

.navul1{
    position: absolute;
    margin-left: -90vw;          
}
.navul2{
    position: absolute;
    margin-left: -23vw;          

}
.navul4{
    position: absolute;
    margin-right: -23vw;          
}
.navul5{
    position: absolute;
    margin-right: -90vw;          
}
.nav-menu{
    display: none;
}
.menu-container {
    position: absolute;
    top: 9vw;
    right: 14vw;
}
.mobilnajanavigazija {
    width: 7vw;
    height: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 500;
}
.bar {
    width: 100%;
    height: 1vw;
    background-color: black;
    transition: 0.3s;
}
.menu5 {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: white;
    width: 150px;
    display: none;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.menu5 a {
    text-decoration: none;
    color: black;
    padding: 10px;
    display: block;
    transition: background 0.3s;
}
.menu5 a:hover {
    background-color: #f0f0f0;
}
.menu5.show {
    display: flex;
    animation: slide-down-left 0.3s ease-out;
}
@keyframes slide-down-left {
    from {
        transform: translateY(-10px) translateX(10px);
        opacity: 0;
    }
    to {
        transform: translateY(0) translateX(0);
        opacity: 1;
    }
}
header {
    text-align: center;
    background-color: #f5f5f5;
    padding: 10px;
}


/*HEADER*/
.headerimage{
    display: none;
}
.logo{
    position: absolute;
    top:6vw;
    left: 10vw;
    width:15vw;
}
.logotext{
    margin-left: -7vw;
    margin-top: 1.7vw;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 5.8vw;
    line-height: 56.88px;
    left:20px;
    color: rgb(2, 2, 1);

}
.headertext{
    padding: -6vw;
    margin-top: 24vw;
    margin-bottom: 10vw;
    }
.headerbuttons {
    width: 100%;
    text-align: center;
    position: relative;
}
.headerbuttons img {
    width: 100%;
    height: auto;
}
.headerbuttons .buttons {
    position: absolute;
    top: 55vw;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: 7vw;
}
.headerbuttons button {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 6vw;
    font-weight: 700;
}
#bookatime{
    background-color: rgb(255, 255, 255);
    color: rgb(3, 36, 5);
    border-radius: 10vw;
    padding: 5vw 0vw;
    width: 65vw;
}
#memberaccess{
    background-color: transparent;
    border-radius: 10vw;
    border: 3px solid white;
    padding: 5vw 0vw;
    color: rgb(255, 255, 255);
    width: 65vw;
}

.headerimagemobile{
    width: 100%;
    border-radius: 35px;
}


/*SECTION1*/

.facilities, .pricing, .offerings, .booking {
    width: 90%;
    text-align: center;
    margin: 20px 0;
}
.hoek, .hectares{
    display: none;
}
#pricing{
    display: none;
    }
#pricingmobile {
    display: flex;
    flex-direction: column;
    }

.facilities{
    margin-top: 12vw;
    width: 100%;
    border-radius: 35px;
    background: url('assets/images/field.png') no-repeat center center/cover;
    height: 120vw;
}
.facilitiestitle{
    position: absolute;
    margin-left: 24vw;
    margin-top: 46vw;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: clamp(1rem, 2.6vw + 0.89rem, 4rem);
    color: #ccc;
    text-align: left;
    font-optical-sizing: auto;
}

.facilitiesulmobile{
    position: absolute;
    margin-left: 15vw;
    margin-top: 55vw;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: clamp(1rem, 2vw + 0.89rem, 4rem);
    color: #ccc;
    text-align: left;
    font-optical-sizing: auto;
    list-style: none;
}
.optionimagemobile1{
    margin-top: 9vw;
    width: 97%;

}
.optionimagemobile2{
    margin-top: 14vw;
    width: 97%;
}

.longtextsection1{
    font-size: 4.6vw;
    text-align: left;
    width: 93%;
    float: left;
    margin-top: 17vw;
    margin-left: 1.6vw;
    line-height: 1.11em;
    letter-spacing: 0.07px;
    text-align: left;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.longtext2section1{
    font-size: 4.6vw;
    text-align: left;
    width: 95%;
    float: left;
    margin-top: 13vw;
    margin-left: 1.3vw;
    line-height: 1.11em;
    letter-spacing: 0.07px;
    text-align: left;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.option{
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}


/*SECTION2*/

.offer{
    margin-top: 4vw;
    text-align: center;
    font-size: 5.4vw;
}
.offerings .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    row-gap: 6.5vw;
    margin: 7vw -2vw;
    padding: -19vw;
}
.item {
    background-color: #f8f8f8;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}


/*SECTION3*/

.section3{
    display: none;
}
.contactdetailsbelow{
    display: none;
}
.booking form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vw;
}
#form-mobile{
    margin-top: 3vw;
    border-radius: 15vw;
}
.booking{
    background: url('assets/images/field.png') no-repeat center center/cover;
    width: 100%;
    height: 215vw;
    border-radius: 50px;
}
#mobileformbelowtitle{
    margin-top: 60vw;
    font-size: 8vw;
    color: #ccc;
}
.booking input, .booking button {
    border-radius: 15vw;
    margin: 5px;
    padding: 23px 0;
    width: 80%;
    text-align: center;
}
img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
#mobileformbelowsubmit{
    font-size: 4vw;
    padding: -2vw;
}


/*FOOTER*/

.footermobile {
    background-color: #1B4607;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    width: 100%;
}
.footer-company {
    font-size: 18px;
    font-weight: bold;
}
.footer-address {
    margin-top: 5px;
    font-size: 14px;
}
.footer {
    flex-direction: column;
    display: none;
}

.footer-form-container {
    flex-direction: column;
}




/*FOR SCREENS FROM 768 UNTIL 1920 */

@media screen and (min-width: 768px) and (max-width: 1920px) {
body {
    max-width: 1920px;
}
.menu-container{
    display: none;
}
.nav-menu {
    display: flex;
    justify-content: space-around;
    padding: 0 10px;
}
.nav-menu a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px;
}
.nav-menu a:hover {
    background-color: #818181;
    border-radius: 5px;
}

.logo{
    display: none;
    position: absolute;
    top:13vw;
    left: 10vw;
    width:15vw;
}
.logoBG{
    display: block;
}
.logotext{
    position: absolute;
    right: 40px;
    top:-60px;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 2.8vw;
    line-height: 56.88px;
    bottom: 22px;
    left:20px;
    color: rgb(255, 255, 255);

}
.headertext{
    padding: -6vw;
    margin-top: 8vw;
    margin-bottom: 4.3vw;
}

.headerimagemobile{
    display: none;
}
.headerimage{
    display:block;
    max-width: 93vw;
    margin-left: 2.6vw;
} 
.headerbuttons .buttons{
    display: none;
}
.facilities{
    display: none;
}
.facilitiestext{
    position: absolute;
    margin-left: 50vw;
    margin-top: -22vw;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: clamp(1rem, 0.5vw + 0.89rem, 4rem);
    text-align: left;
    font-optical-sizing: auto;
    font-style: normal;
}
.facilityoptions{
    font-size: clamp(1rem, 0.6vw + 0.89rem, 4rem);
    line-height: 1.12em;
    margin-left: 5.7vw;
    text-align: left;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 0 30px;
    margin-top: 1vw;
    list-style-type: none;
    font-family: "Inter", serif;
    font-weight: 500;
    font-style: normal;

}
.hoek{
    display: block;
    width:1.5vw;
    position: absolute;
    top: 81.4vw;
    left: 47vw;

}
.hectares{
    display: block;
    position: absolute;
    top: 101vw;
    left: 4.4vw; 
    font-weight: 600;

}
#pricingmobile{
    display: none;
}
#pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4vw;
}
.longtextsection1 {
    text-align: left;
    width: 35%;
    float: left;
}
.longtext2section1 {
    position: absolute;
    text-align: left;
    width: 30%;
    float: left;
    font-weight: 300;
    font-size: 1.3vw;
    margin-right: 60.3vw;
    margin-top: -3vw;
}
.longtext1section1 {
    text-align: left;
    width: 30%;
    float: left;
    font-size: 1.3vw;
    margin-left: 22vw;
    margin-top: -1vw;
}
.option:nth-child(1) {
    display: flex;
    flex-direction: row;
    align-items: center;
    }
.option:nth-child(2) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.option:nth-child(3) {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.option img {
    width: 50%;
}
.offerings .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    display: grid;
    margin: 7vw -2vw;
    margin-top: 2vw;
    padding: -19vw;
}
.longtextsection1{
    display: none;
    margin-left: 300px
}

.optionimage1{
    max-width: 37vw;
    margin-left: 4.2vw;
    padding: 0 0 0 0;

}
.optionimage2{
    max-width: 37vw;
    margin-right: 3vw;
    margin-top: -1.5vw;
}
.optionimage3{
    max-width: 37vw;
    margin-left: 4.2vw;
    margin-top: -2.2vw;
}
.offer{
    margin-top: 7.8vw;
    text-align: left;
    font-size: 4.1vw;
}
.booking{
    display: none;
}
.section3{
    display: block;
    margin-top: -10.2vw;;
}
.section3grid {
    display: grid;
    grid-template-areas:
    "menu content";
    grid-template-columns: 2fr 1fr;
    gap: 0px;
    margin: 100px 16px 0pc 26px;
    opacity: 90%;
}
.section3grid > div {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
}
.section3grid > div.content {
    grid-area: content;
}
.section3grid > div.menu {
    grid-area: menu;
}
.bigform{
    background-image: url("assets/images/Rectangle6.png");
    position: relative;
    border-radius: 25px;
    justify-content: center;
    font-family: Arial, sans-serif;
    align-content: center;
    background-color: #f4f4f4;
    margin-top: 0px;
}
.contact-form-big {
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 70%;
    display: flex;
    left: 15%;
    top: 18%;
    flex-direction: column;
    gap: 15px;
    padding: 0px;
}

.contact-form-big h2 {
    width: 100%;
    color: #ffffff;
    text-align: left;
    font-size: 4vw;
    margin-left: -5%;
    line-height: 43.57px;
    padding: 0 30px;
    margin-bottom: 1vw;
    list-style-type: none;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

}

.form-row {
    display: flex;
    gap: 1vw;
    width: 100%;
    min-height: 4.5vw;
}

.form-row input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 35px;
}
.date{
    width: 100px;
}

button {
    background-color: #ffffff;
    color: rgb(17, 17, 17);
    border-radius: 35px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 35px;
    transition: 0.3s;
    white-space: nowrap;
    width: 245px;
}

button:hover {
    background-color: #0056b3;
}
.contactdetailsbelow{
    display: block;
    margin-top: 9vw;
    max-width: 96%;
    height: auto;
    margin-left: 5vw;
}

.footermobile{
    display: none;
}
.footer {
    width: 100%;
    margin-top: 10vw;
    background-color: #1B4607;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: start;
    text-align: center;
}

.footer > div {
    flex: 3;
    min-width: 10px; 
}

.footer-company {
    font-size: 24px;
    font-weight: bold;
    margin-left: -15vw;
    margin-top: 2vw;
}

.footer-nav ul {
    font-size: 1.3vw;
    margin-top: 2vw;
    margin-left: -16vw;
    list-style: none;
    padding: 0;
    text-align: left;
}
.footer-nav a{
    color: white;
    text-decoration: none
}

.footer-nav ul li {
    margin: 5px 0;
}

.footer-text {
    text-align: left;
    margin-top: 1.2vw;
    font-size: 1.3vw;
    line-height: 2;
    margin-left: -51vw;
}

.containerform{
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    height: 3vh;
    margin-left: 5vw;
    margin-top: 5vw;
    text-align: left;
}

.contact-form {
    padding: 0px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

.contact-form h2 {
    text-align: left;
    font-size: 1.4vw;

}

.form-group {
    display: flex;
    gap: 10px;
    align-items: start;

}

textarea {
    flex: 1;
    background-color: transparent;
    height: 2.5vw;
    color: #ccc;
    border: 3px white solid;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 35px;
    resize: vertical;
    min-width: 160px;
}

button {
    background-color: #ffffff;
    color: rgb(5, 5, 5);
    width: 200px;
    height: 4.7vw;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 35px;
    transition: 0.3s;
    white-space: nowrap;
}

button:hover {
    background-color: #0056b3;
}
}

/*FOR SCREENS FROM 290 UNTIL 410 */

@media screen and (min-width: 290px) and (max-width: 410px) {
    body {
    max-width: 410px;
    }
.logotext{
    margin-left: -7vw;
    margin-top: -1vw;

}
.headerimagemobile{
    width: 100%;
    margin-top: -5vw;
    border-radius: 35px;
}
.hoek, .hectares{
    display: none;
}
.offerings .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;}

.longtextsection1{
    font-size: 4.1vw;
}

.longtext2section1{
    font-size: 4.1vw;
}


}



/*FOR SCREENS FROM 1440 UNTIL 1920 */

@media screen and (min-width: 1440px) and (max-width: 1920px) {
.hoek{
    width:1vw;
    position: absolute;
    top: 80.5vw;
    left: 47vw;

}
.hectares{
    position: absolute;
    top: 99vw;
    left: 4.4vw; 
    font-weight: 600;
}
}