table, th, td {
    border: 1px solid green;
    border-collapse: collapse;
  }
th{
    padding: 30px;
  }
tr > small{
    padding: 20px;
  }
#bio{
    overflow: scroll;
    height: 200px;
    background-color:aqua;
    padding: .5em;
    border: 2px solid green;
}
ul{
    margin-left: 20px;
    border: 2px solid rgb(32, 139, 32);
}
h1,h2 {
   background-color: aqua;
   padding: .5em;
   border: 2px solid rgb(32, 42, 131);
}
#big,#small{
   margin-top: 20px;
}
ol{
   border: 2px solid rgb(32, 139, 32);
   background-color: rgb(172, 190, 165);
   padding: 20px;
}
.noborder{
  border-radius: 10px;
  padding: 25px;
  background-color: aliceblue;
  margin: 10px 10px;
}
nav {
    background-color: lightblue;
    padding: 20px;
    border: 2px solid rgb(32, 139, 32);
}
a {
    margin-left: 20px;
}
p {
    padding: 15px;
}
#michael{ 
    border: 2px solid rgb(32, 139, 32);

}
#displayblok {
    height:400px;
    background-color:#FFFFFF;
  }
  
  #displayblok p {
    background-color: rgb(28, 121, 33);
    padding: 30px;
    margin: 20px;  
    display:list-item;
  }
  
  #displayblok span {
    background-color: rgb(204, 135, 135);
    padding: 20px;  
    color: rgb(7, 5, 5);
  }
  #p2 span{
      background-color: rgb(192, 241, 169);   
      color: rgb(29, 20, 20);
  }
  #p3 span{
      background-color: rgb(173, 175, 241);   
      color: rgb(0, 0, 0);
  }